.my-first-box {
    background-color: Darkblue; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 2px solid steelblue; /* Puts a blue border around the box */
    text-align: center; /* Centers the text and image inside */
}


h2, h3 {
    color: White;
}

p {
    font-family: sans-serif;
    color: #333;
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 6 / 2; }



