.my-first-box {
    background-color: Darkblue; /* Gives the box a light blue background */
    padding: 20px; /* Adds space inside the box */
    margin: 15px; /* Adds space outside the box, pushing it away from other things */
    border: 2px solid steelblue; /* Puts a blue border around the box */
    text-align: center; /* Centers the text and image inside */
}


h2, h3 {
    color: White;
}

p {
    font-family: sans-serif;
    color: #333;
}

